---
layout: default
title: Home
navigation_weight: 1
permalink: /
description: ""
---
<header>
  <div class="header-content">
    <div class="header-content-inner">
      <hr style="margin-bottom: 1em;"/>
      <p class="header-text">Arthur Brock builds targeted currencies which shape the social dynamics of our emerging post-industrial economy.<br><br>"I believe that humanity has much greater capacities than we currently employ. I am working to unleash those capacities for the mutual benefit of all."</p>
      <p><a href="#about" class="btn btn-primary btn-xl page-scroll">Explore</a></p>
    </div>
  </div>
</header>
<section class="bg-light" id="about">
  <div class="container">
    <div class="row text-center">
      <h2 class="section-heading">Recent Projects</h2>
      <hr class="light">
    </div>
    <div class="row">
      {% assign projects =  site.projects | sort: 'navigation_weight'%}
      {% for pj in projects %}
      <div class="col-lg-4 col-md-6 text-center">
        <a href="{{pj.url}}">
          <div class="project-box">
            <!--<i class="fa fa-4x {{pj.icon}} text-primary sr-icons"></i>-->
            <div class="project-image">
              <img src = "{{pj.image}}" style="max-width: 400px">
            </div>
            <h3>{{pj.title}}</h3>
            <p class="text-muted">{% if pj.home_page_description %}{{pj.home_page_description}}{% else %}{{pj.purpose}}{% endif %}</p>
          </div></a>
      </div>
    {% endfor %}
  </div>
</section>

<!-- Featured Content -->

<section id="videos" class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Featured Content</h2>
        <hr class="primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <a href="/images/Levels-of-Wealth_Water.png" class="image fit"><img src="/images/Levels-of-Wealth_Water.png" alt=" " /><span class="text-for-screen-readers">A Living Systems Model of Wealth</span></a>
        <h3>A Living Systems Model of Wealth</h3>
        <p>Money is a terrible measure of value. In the same way that most of the value you have to offer, is simply not accessible through dollars, our economy fails to access and enable the bulk of the value around us. Until we create currencies which recognize value flows at all these levels, we perpetuate intolerable poverty. This isn't a poverty of inequitable distribution, but a poverty of measurement.</p>
      </div>
      <div class="col-lg-6 col-md-6" ">
        <iframe width="555px" height="412" src="https://www.youtube.com/embed/v3aGoFw04HY" frameborder="0" allowfullscreen></iframe>
        <h3>Emerging Leader Labs - Seed Project</h3>
        <p>I really haven't had a chance to update my web site with any information about my most recent life-consuming project: <a href = "http://www.emergingleaderlabs.org/">Emerging Leader Labs</a>. We're creating a template for social impact incubators to flourish outside of the monetary economy.<br> <br> One of our participants captured the spirit of the project pretty darn well in this new video he just made. Yay Ben!</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <iframe id="iframe_container" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" width="555" height="412" src="https://prezi.com/embed/xmzld_-wayho/?bgcolor=ffffff&amp;lock_to_path=0&amp;autoplay=0&amp;autohide_ctrls=0&amp;landing_data=bHVZZmNaNDBIWnNjdEVENDRhZDFNZGNIUE43MHdLNWpsdFJLb2ZHanI5aEcwUU8xQVZCK1krbk9EaytVV3BkQTFBPT0&amp;landing_sign=cDe_Ngiv5Pj1p8VIHawJAamMuKqlCINbnlmLvAV418U"></iframe><span class="text-for-screen-readers">New Economy, New Wealth on Prezi</span></a>
        <h3>New Economy, New Wealth Prezi</h3>
        <p>The following presentation I made has been rather popular. It depicts where we are in the evolution of economies and provides some insights about what is changing and where we're going.</p>
      </div>
      <div class="col-lg-6 col-md-6" ">
        <iframe src="https://player.vimeo.com/video/31164740" width="555" height="412" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        <h3>Arthur Brock & Eric Harris-Braun speak at Occupy Wall St</h3>
        <p>Expanding on the Living Systems Model of wealth above, you can hear us talk about it at Occupy Wall Street. The real potential of OWS is clearly not about physical occupation of a street, but about occupying the role that Wall St. has played in wealth creation. We spoke as part of Re-Visioning Money Day on October 24, 2011 at 60 Wall St.</p>
      </div>
    </div>
  </div>
</section>

<!-- Blogs -->
<section id="projects" class="bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Recent Blogs &nbsp;<i class="fa fa-pencil" aria-hidden="true"></i></h2>
        <hr class="primary">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="blog-posts-homepage">
        {% for post in site.posts limit:6 %}  
          <li><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }} <br> {{ post.date | date: "%d %B %Y" }}</a></li>  
        {% endfor %}  
      </div>
      
      <!-- <p class="aligncenter"><a href="#videos" class="btn btn-primary btn-xl page-scroll sr-button">Dive In</a></p> -->
    </div>
  </div>
</section>

