---
layout: default
comments: true
---
<section id="header" class="std-page">
  <div class="text-center">

  </div>
</section>
<section id="blog" class="blog">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-md-offset-2">
        <post-meta class="tags">
          {% for tag in page.tags %}
            <a href="{{ site.baseurl }}/blog?tag={{tag|url_escape}}" class="tag">{{tag}}</a>
          {% endfor %}
        </post-meta>

      </div>
    </div>
    <div class="row">
      <h2 class="section-heading col-lg-8 col-md-8 col-md-offset-2">{{page.title}}</h2>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="row">
        </div>
        {{ content }}
        {% include disqus.html %}
      </div>
    </div>
  </div>
</section>
