---
layout: default
---
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include seo.html %}
    {% include stylesheets.html %}
    {% include shims.html %}
  </head>
  <body id="page-top">
    {% include nav.html %}
    <!-- default content for this page -->
    <!-- Videos -->
    <section id="projects" class="bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Projects</h2>
            <hr class="primary">
          </div>
        </div>
        <div class="row">
            {% assign projects =  site.projects | sort: 'navigation_weight'%}
            {% for pj in projects %}
              <div class="col-lg-4 col-md-6 text-center">
                <a href="{{pj.url}}">
                  <div class="project-box">
                    <div class="project-image">
                      <img src = "{{pj.image}}" style="max-width: 400px">
                   </div>
                    <h3>{{pj.title}}</h3>
                    <p class="text-muted">{% if pj.home_page_description %}{{pj.home_page_description}}{% else %}{{pj.purpose}}{% endif %}</p>
                  </div></a>
              </div>
            {% endfor %}
          </div>
        </div>
    </section>
    <section id="collaborations" class="bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Collaborations</h2>
            <hr class="primary">
          </div>
                  <div class="row">
            {% assign collaborations =  site.collaborations %}
            {% for c in collaboration %}
              <div class="col-lg-4 col-md-6 text-center">
                <a href="{{c.url}}">
                  <div class="project-box">
                    <div class="project-image">
                      <img src = "{{c.image}}" style="max-width: 400px">
                   </div>
                    <h3>{{c.title}}</h3>
                    <p class="text-muted">{% if c.home_page_description %}{{c.home_page_description}}{% else %}{{c.purpose}}{% endif %}</p>
                  </div></a>
              </div>
            {% endfor %}
          </div>
        </div>
     </div>
    </section>
  </body>
</html>
