---
layout: default
---
<section id="header" class="project-page">
  <div class="text-center">
    <h1>Project Profiles</h1>
  </div>
</section>
<section id="main" class="project-page">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8 page-summary pull-left">
        <img src = "{{page.image}}" style="max-width: 400px">
        <h1>{{page.title}}</h1>
        <div class="purpose"><b>Purpose: </b>{{page.purpose}}</div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-md-8">
        {{ content }}
      </div>
    </div>
  </div>
</section>
